@charset "ISO-8859-1";
.nav-header {
	color: white;
}

.bg-dark {
	background-color: #44acea!important;
}

.texto-cinza{
	color: #a29c9c;
}

.navbar-light .navbar-text a {
    color: #44acea!important;
}




